<div class="container">
  <h1><%= translate '.resend_confirmation_instructions' %></h1>

  <%= simple_form_for resource, as: resource_name, url: confirmation_path(resource_name) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: 'email' } %>

    <%= f.button :submit, translate('.resend_confirmation_instructions') %>
  <% end %>

  <%= render 'users/shared/links' %>
</div>
