<div class="container">
  <%= simple_form_for @membership_app, url: join_path do |f| %>
    <%= f.input :last_name %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :date_of_birth, start_year: Date.today.year - 150,
                                end_year: Date.today.year %>
    <%= f.association :country_state, collection: CountryState.all %>
    <%= f.input :occupation %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :telegram_username %>
    <%= f.input :organization_membership %>
    <%= f.input :comment %>

    <%= f.button :submit %>
  <% end %>
</div>
