<div class="container">
  <% if @membership_app.person&.party_member? %>
    <h1><%= translate '.congratulations' %></h1>
    <p class="lead"><%= translate '.lead_congratulations_member' %></p>
  <% elsif @membership_app.person&.party_supporter? %>
    <h1><%= translate '.congratulations' %></h1>
    <p class="lead"><%= translate '.lead_congratulations_supporter' %></p>
  <% else %>
    <h1><%= translate '.header' %></h1>
    <p class="lead"><%= translate '.lead_text' %></p>
    <hr/>
  <% end %>
</div>
