<div class="container">
  <%= nav_breadcrumb(
      [translate(:staff_services), staff_root_path],
      [RelationStatus.model_name.human(count: 0), staff_relation_statuses_path],
      RelationStatus.model_name.human(count: 1),
    ) %>

  <dl>
    <dt><%= RelationStatus.human_attribute_name :codename %></dt>
    <dd><%= @relation_status.codename %></dd>

    <dt><%= RelationStatus.human_attribute_name :name %></dt>
    <dd><%= @relation_status.name %></dd>
  </dl>
</div>
