<div class="container">
  <dl>
    <dt><%= TelegramBot.human_attribute_name :secret %></dt>
    <dd><%= @telegram_bot.secret %></dd>

    <dt><%= TelegramBot.human_attribute_name :api_token %></dt>
    <dd><%= @telegram_bot.api_token %></dd>

    <dt><%= TelegramBot.human_attribute_name :username %></dt>
    <dd><%= truncate @telegram_bot.username %></dd>
  </dl>
</div>
