<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :telegram_contacts } %>
    </div>

    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <%= AccountTelegramContact.human_attribute_name :id %>
            </th>
            <th scope="col">
              <%= TelegramChat.human_attribute_name :remote_id %>
            </th>
            <th scope="col">
              <%= TelegramChat.human_attribute_name :username %>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @account_telegram_contacts.each do |account_telegram_contact| %>
            <tr>
              <td scope="row"><%= account_telegram_contact.id %></td>
              <td><%= account_telegram_contact.telegram_chat.remote_id %></td>
              <td><%= truncate account_telegram_contact.telegram_chat.username, length: 20 %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
