<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :person } %>
    </div>

    <div class="col-md-9">
      <% if @account.person.nil? %>
        <p class="lead">
          <%= translate '.no_person' %>
        </p>
      <% else %>
        <dl>
          <dt><%= Person.human_attribute_name :last_name %></dt>
          <dd>
            <%= maybe_or_none @account.person.last_name.present? do %>
              <%= truncate @account.person.last_name %>
            <% end %>
          </dd>

          <dt><%= Person.human_attribute_name :first_name %></dt>
          <dd>
            <%= maybe_or_none @account.person.first_name.present? do %>
              <%= truncate @account.person.first_name %>
            <% end %>
          </dd>

          <dt><%= Person.human_attribute_name :middle_name %></dt>
          <dd>
            <%= maybe_or_none @account.person.middle_name.present? do %>
              <%= truncate @account.person.middle_name %>
            <% end %>
          </dd>

          <dt><%= Person.human_attribute_name :sex %></dt>
          <dd>
            <%= maybe_or_none @account.person.sex.present? do %>
              <%= translate_enum :sex, @account.person.sex %>
            <% end %>
          </dd>

          <dt><%= Person.human_attribute_name :date_of_birth %></dt>
          <dd>
            <%= maybe_or_none @account.person.date_of_birth.present? do %>
              <%= localize @account.person.date_of_birth %>
            <% end %>
          </dd>

          <dt><%= Person.human_attribute_name :place_of_birth %></dt>
          <dd>
            <%= maybe_or_none @account.person.place_of_birth.present? do %>
              <%= truncate @account.person.place_of_birth %>
            <% end %>
          </dd>
        </dl>
      <% end %>
    </div>
  </div>
</div>
