<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <%= AsymmetricKey.human_attribute_name :id %>
      </th>
      <th scope="col">
        <%= AsymmetricKey.human_attribute_name :algo_class %>
      </th>
      <th scope="col">
        <%= AsymmetricKey.human_attribute_name :algo_variant %>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% asymmetric_keys.each do |asymmetric_key| %>
      <tr>
        <td scope="row"><%= asymmetric_key.id %></td>
        <td><%= asymmetric_key.algo_class %></td>
        <td><%= asymmetric_key.algo_variant %></td>
        <td>
          <% if policy(asymmetric_key).show? %>
            <%= open_action public_key_path(asymmetric_key) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
