<div class="container">
  <%= nav_breadcrumb(
      [AsymmetricKey.model_name.human(count: 0), asymmetric_keys_path],
      AsymmetricKey.model_name.human(count: 1),
    ) %>

  <div class="row">
    <div class="col-md-6">
      <dl>
        <dt><%= AsymmetricKey.human_attribute_name :id %></dt>
        <dd><%= @asymmetric_key.id %></dd>

        <dt><%= AsymmetricKey.human_attribute_name :algo_class %></dt>
        <dd><%= @asymmetric_key.algo_class %></dd>

        <dt><%= AsymmetricKey.human_attribute_name :algo_variant %></dt>
        <dd><%= @asymmetric_key.algo_variant %></dd>

        <dt><%= AsymmetricKey.human_attribute_name :sha1 %></dt>
        <dd><%= display_sha1 @asymmetric_key.sha1 %></dd>

        <dt><%= AsymmetricKey.human_attribute_name :sha256 %></dt>
        <dd><%= display_sha256 @asymmetric_key.sha256 %></dd>
      </dl>
    </div>

    <div class="col-md-6">
      <%= render partial: 'private_keys/alert',
                 locals: {
                   asymmetric_key: @asymmetric_key,
                 }
        %>
    </div>
  </div>
</div>
