<div class="container">
  <%= render partial: 'nav_tabs', locals: { person: @person, tab: :overview } %>

  <dl>
    <dt><%= Person.human_attribute_name :first_name %></dt>
    <dd><%= truncate @person.first_name %></dd>

    <dt><%= Person.human_attribute_name :middle_name %></dt>
    <dd><%= truncate @person.middle_name %></dd>

    <dt><%= Person.human_attribute_name :last_name %></dt>
    <dd><%= truncate @person.last_name %></dd>

    <dt><%= Person.human_attribute_name :sex %></dt>
    <dd><%= Person.human_attribute_name "sex.#{@person.sex}" %></dd>

    <dt><%= Person.human_attribute_name :date_of_birth %></dt>
    <dd><%= localize @person.date_of_birth %></dd>

    <dt><%= Person.human_attribute_name :place_of_birth %></dt>
    <dd><%= truncate @person.place_of_birth %></dd>

    <dt><%= Person.human_attribute_name :regional_office %></dt>
    <dd>
      <% if @person.regional_office %>
        <%= link_to(
              @person.regional_office.country_state.display_name,
              @person.regional_office.country_state,
            ) %>
      <% else %>
        <%= translate :none %>
      <% end %>
    </dd>
  </dl>
</div>
