<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :contacts } %>
    </div>

    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <%= Contact.human_attribute_name :contact_network %>
            </th>
            <th scope="col">
              <%= Contact.human_attribute_name :value %>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.contact_network.name %></td>
              <td><%= truncate contact.value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
