<div class="container">
  <%= simple_form_for @membership_application do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :middle_name %>

    <%= f.button :submit %>
  <% end %>
</div>
