<div class="container">
  <%= simple_form_for @membership_application do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :middle_name %>
    <%= f.input :date_of_birth, start_year: Date.today.year - 150,
                                end_year: Date.today.year %>

    <%= f.button :submit %>
  <% end %>
</div>
