<div class="container">
  <h2>
    <%= truncate @membership_pool.name %>
    <br/>
    <small class="text-muted">
      <%= MembershipPool.model_name.human %>
    </small>
  </h2>

  <%= render partial: 'nav_tabs', locals: { membership_pool: @membership_pool,
                                            tab: :overview } %>

  <dl>
    <dt><%= translate '.accounts_in_pool' %></dt>
    <dd><%= @membership_pool.membership_pool_accounts.count %></dd>

    <dt><%= translate '.total_apps_in_pool' %></dt>
    <dd><%= @membership_pool.membership_pool_apps.count %></dd>
  </dl>
</div>
