<div class="container">
  <%= nav_breadcrumb translate :staff_services %>

  <ul>
    <% if current_account&.can_access_sidekiq_web_interface? %>
      <li>
        <%= link_to 'Sidekiq', staff_sidekiq_path %>
      </li>
    <% end %>

    <% if policy(%i[staff account]).index? %>
      <li>
        <%= link_to Account.model_name.human(count: 0), staff_accounts_path %>
      </li>
    <% end %>

    <% if policy(%i[staff person]).index? %>
      <li>
        <%= link_to Person.model_name.human(count: 0), staff_people_path %>
      </li>
    <% end %>

    <% if policy(%i[staff contact_network]).index? %>
      <li>
        <%= link_to ContactNetwork.model_name.human(count: 0),
                    staff_contact_networks_path %>
      </li>
    <% end %>

    <% if policy(%i[staff x509_certificate]).index? %>
      <li>
        <%= link_to X509Certificate.model_name.human(count: 0),
                    staff_x509_certificates_path %>
      </li>
    <% end %>
  </ul>
</div>
