<div class="container">
  <%= nav_breadcrumb(
    [translate(:staff_services), staff_root_path],
    [Person.model_name.human(count: 0), staff_people_path],
    [@person.full_name, staff_person_passports_path(@person)],
    Passport.model_name.human(count: 0),
  ) %>

  <div class="row">
    <div class="col-md-6">
      <dl>
        <dt><%= Passport.human_attribute_name :series %></dt>
        <dd><%= @passport.series %></dd>

        <dt><%= Passport.human_attribute_name :number %></dt>
        <dd><%= @passport.number %></dd>

        <dt><%= Passport.human_attribute_name :issued_by %></dt>
        <dd><%= @passport.issued_by %></dd>

        <dt><%= Passport.human_attribute_name :unit_code %></dt>
        <dd><%= @passport.unit_code %></dd>

        <dt><%= Passport.human_attribute_name :date_of_issue %></dt>
        <dd><%= localize @passport.date_of_issue %></dd>
      </dl>
    </div>

    <div class="col-md-6">
      <dl>
        <dt><%= Passport.human_attribute_name :zip_code %></dt>
        <dd><%= @passport.zip_code %></dd>

        <dt><%= Passport.human_attribute_name :town_type %></dt>
        <dd><%= @passport.town_type %></dd>

        <dt><%= Passport.human_attribute_name :town_name %></dt>
        <dd><%= @passport.town_name %></dd>

        <dt><%= Passport.human_attribute_name :settlement_type %></dt>
        <dd><%= @passport.settlement_type %></dd>

        <dt><%= Passport.human_attribute_name :settlement_name %></dt>
        <dd><%= @passport.settlement_name %></dd>

        <dt><%= Passport.human_attribute_name :district_type %></dt>
        <dd><%= @passport.district_type %></dd>

        <dt><%= Passport.human_attribute_name :district_name %></dt>
        <dd><%= @passport.district_name %></dd>

        <dt><%= Passport.human_attribute_name :street_type %></dt>
        <dd><%= @passport.street_type %></dd>

        <dt><%= Passport.human_attribute_name :street_name %></dt>
        <dd><%= @passport.street_name %></dd>

        <dt><%= Passport.human_attribute_name :residence_type %></dt>
        <dd><%= @passport.residence_type %></dd>

        <dt><%= Passport.human_attribute_name :residence_name %></dt>
        <dd><%= @passport.residence_name %></dd>

        <dt><%= Passport.human_attribute_name :building_type %></dt>
        <dd><%= @passport.building_type %></dd>

        <dt><%= Passport.human_attribute_name :building_name %></dt>
        <dd><%= @passport.building_name %></dd>

        <dt><%= Passport.human_attribute_name :apartment_type %></dt>
        <dd><%= @passport.apartment_type %></dd>

        <dt><%= Passport.human_attribute_name :apartment_name %></dt>
        <dd><%= @passport.apartment_name %></dd>
      </dl>
    </div>
  </div>
</div>
