<% content_for :top do %>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1><%= translate :title %></h1>

      <p class="lead">
        <%= translate '.description' %>
      </p>

      <% if policy(:membership_app).new? %>
        <a role="button" class="btn btn-primary btn-lg" href="<%= join_path %>">
          <%= translate '.join' %>
        </a>
      <% end %>

      <% unless current_account&.own_membership_app.nil? %>
        <a role="button" class="btn btn-success btn-lg" href="<%= membership_app_path current_account.own_membership_app %>">
          <%= translate '.tracking' %>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
