<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <%= FederalSubject.human_attribute_name :number %>
        </th>
        <th scope="col">
          <%= FederalSubject.human_attribute_name :display_name %>
        </th>
        <th scope="col">
          <%= FederalSubject.human_attribute_name :centre %>
        </th>
        <th scope="col">
          <%= FederalSubject.human_attribute_name :timezone %>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @federal_subjects.each do |federal_subject| %>
        <tr>
          <td><%= federal_subject.number %></td>
          <td><%= federal_subject.display_name %></td>
          <td><%= federal_subject.centre %></td>
          <td><%= federal_subject.timezone %></td>
          <td>
            <% if policy(federal_subject).show? %>
              <%= link_to federal_subject,
                          role: :button,
                          class: 'btn btn-light btn-sm' do %>
                <i class="far fa-eye"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
