<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to FederalSubject.model_name.human(count: 0),
                    federal_subjects_path %>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        <%= @federal_subject.display_name %>
      </li>
    </ol>
  </nav>

  <h1><%= @federal_subject.native_name %></h1>

  <p class="h1">
    <small class="text-muted">
      <%= @federal_subject.english_name %>
    </small>
  </p>

  <dl class="my-4">
    <dt><%= FederalSubject.human_attribute_name :number %></dt>
    <dd><%= @federal_subject.number %></dd>

    <dt><%= FederalSubject.human_attribute_name :centre %></dt>
    <dd><%= @federal_subject.centre %></dd>

    <dt><%= FederalSubject.human_attribute_name :timezone %></dt>
    <dd><%= @federal_subject.timezone %></dd>

    <dt><%= FederalSubject.human_attribute_name :regional_office %></dt>
    <dd>
      <% if @federal_subject.regional_office.nil? %>
        <%= translate :no %>
      <% else %>
        <%= translate :yes %>
      <% end %>
    </dd>
  </dl>
</div>
