<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <%= Script.human_attribute_name :codename %>
      </th>
      <th scope="col">
        <%= Script.human_attribute_name :name %>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% scripts.each do |script| %>
      <tr>
        <td scope="row"><%= script.codename %></td>
        <td><%= script.name %></td>
        <td>
          <% if policy([:staff, script]).show? %>
            <%= open_action [:staff, script] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
