<div class="container">
  <%= nav_breadcrumb(
    [translate(:staff_services), staff_root_path],
    [Person.model_name.human(count: 0), staff_people_path],
    translate(:create),
  ) %>

  <%= simple_form_for [:staff, @person] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :last_name %>
      <%= f.input :first_name %>
      <%= f.input :middle_name %>
      <%= f.input :sex, collection: Person.sexes.keys.map(&:to_sym) %>
      <%= f.input :date_of_birth %>
      <%= f.input :place_of_birth %>
      <%= f.input :photo, direct_upload: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
