<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to translate(:staff_services), staff_root_path %>
      </li>

      <li class="breadcrumb-item">
        <%= link_to Person.model_name.human(count: 0), staff_people_path %>
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        <%= @person.full_name %>
      </li>
    </ol>
  </nav>

  <%= render partial: 'nav_tabs', locals: { person: @person, tab: :overview } %>

  <dl>
    <dt><%= Person.human_attribute_name :account %></dt>
    <dd><%= staff_account_link_or_none @person.account %></dd>

    <dt><%= Person.human_attribute_name :current_regional_office %></dt>
    <dd>
      <% if @person.current_regional_office %>
        <%= link_to(
              @person.current_regional_office.federal_subject.display_name,
              @person.current_regional_office.federal_subject,
            ) %>
      <% else %>
        <%= translate :none %>
      <% end %>
    </dd>

    <dt><%= Person.human_attribute_name :last_name %></dt>
    <dd><%= truncate @person.last_name %></dd>

    <dt><%= Person.human_attribute_name :first_name %></dt>
    <dd><%= truncate @person.first_name %></dd>

    <dt><%= Person.human_attribute_name :middle_name %></dt>
    <dd><%= truncate @person.middle_name %></dd>

    <dt><%= Person.human_attribute_name :sex %></dt>
    <dd><%= translate_enum :sex, @person.sex if @person.sex %></dd>

    <dt><%= Person.human_attribute_name :date_of_birth %></dt>
    <dd><%= localize @person.date_of_birth if @person.date_of_birth %></dd>

    <dt><%= Person.human_attribute_name :place_of_birth %></dt>
    <dd><%= truncate @person.place_of_birth if @person.place_of_birth %></dd>
  </dl>
</div>
