<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">
    <%= translate :brand %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://t.me/lpr_perm">
          <%= icon 'fab', 'telegram' %>
          <%= translate :telegram_channel %>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://t.me/lpr_perm_chat">
          <%= icon 'fab', 'telegram' %>
          <%= translate :telegram_chat %>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://vk.com/lpr_perm">
          <%= icon 'fab', 'vk' %>
          <%= translate :vk_public %>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= icon 'fas', 'link' %>
          <%= translate :other_links %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" target="_blank" href="https://libertarian-party.ru">
            <%= icon 'fas', 'home' %>
            <%= translate :main_party_site %>
          </a>
          <a class="dropdown-item" target="_blank" href="https://libertarian-party.ru/regionalnye-otdeleniya/permskiy-kray">
            <%= icon 'fas', 'home' %>
            <%= translate :department_page_on_party_site %>
          </a>
          <a class="dropdown-item" target="_blank" href="https://libertarian-party.ru/regionalnye-otdeleniya">
            <%= icon 'fas', 'home' %>
            <%= translate :departments_in_other_states %>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" target="_blank" href="https://github.com/lpr-perm">
            <%= icon 'fab', 'github' %>
            <%= translate :github %>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
