<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">
    <%= translate :title %>
  </a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-3">
        <% if current_account %>
          <li class="nav-item dropdown">
            <%= link_to current_account.username,
                        '#',
                        id: :navbarDropdown,
                        role: :button,
                        class: 'nav-link dropdown-toggle',
                        'data-toggle': :dropdown,
                        'aria-haspopup': true,
                        'aria-expanded': false %>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if policy(current_account).show? %>
                <%= link_to translate('users.shared.links.profile'),
                            account_path(current_account),
                            role: :button,
                            class: 'dropdown-item' %>
              <% end %>

              <% if policy(%i[settings profile]).edit? %>
                <%= link_to translate('users.shared.links.settings'),
                            edit_settings_profile_path,
                            role: :button,
                            class: 'dropdown-item' %>
              <% end %>

              <% if user_signed_in? %>
                <div class="dropdown-divider"></div>

                <%= link_to translate('users.shared.links.sign_out'),
                            destroy_user_session_path,
                            method: :delete,
                            role: :button,
                            class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>

      <% unless user_signed_in? %>
        <div>
          <%= link_to translate('users.shared.links.sign_in'),
                      new_user_session_path,
                      role: :button,
                      class: 'btn btn-light mr-2' %>

          <%= link_to translate('users.shared.links.sign_up'),
                      new_user_registration_path,
                      role: :button,
                      class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
</nav>
