<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :roles } %>
    </div>

    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <%= Role.human_attribute_name :id %>
            </th>
            <th scope="col">
              <%= Role.human_attribute_name :name %>
            </th>
            <th scope="col">
              <%= Role.human_attribute_name :resource %>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @roles.each do |role| %>
            <tr>
              <td scope="row"><%= role.id %></td>
              <td><%= role.human_name %></td>
              <td><%= role.human_resource %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
