<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :profile } %>
    </div>

    <div class="col-md-9">
      <%= simple_form_for @account, url: settings_profile_path do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username, required: true %>
          <%= f.input :public_name %>
          <%= f.input :biography %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, translate('users.registrations.edit.update') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
