<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= render partial: 'settings/nav_sidebar', locals: { tab: :profile } %>
    </div>

    <div class="col-md-9">
      <%= simple_form_for @account, url: settings_profile_path do |f| %>
        <%= f.error_notification %>

        <%= f.input :nickname, required: true %>
        <%= f.input :public_name %>
        <%= f.input :biography %>
        <%= f.input :avatar, direct_upload: true %>

        <% if f.object.avatar.attached? %>
          <%= image_tag f.object.avatar, class: 'img-thumbnail mb-4' %>
        <% end %>

        <%= f.button :submit, translate('users.registrations.edit.update') %>
      <% end %>
    </div>
  </div>
</div>
