<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @account.avatar.attached? %>
        <%= image_tag @account.avatar, class: 'img-thumbnail mb-4' %>
      <% else %>
        <%= image_tag 'image_placeholder.png', class: 'img-thumbnail mb-4' %>
      <% end %>

      <% if @account.public_name.present? %>
        <h1><%= @account.public_name %></h1>
      <% end %>

      <p class="h3 text-muted"><%= @account.nickname %></p>

      <% if @account.superuser? %>
        <div>
          <span class="badge badge-primary">
            <%= translate :superuser %>
          </span>
        </div>
      <% end %>

      <div class="mt-2">
        <div>
          <i class="fas fa-user-tag fa-fw"></i>
          <%= relationship_status_or_none \
                @account.person&.current_relationship %>
        </div>

        <% if @account.person&.current_relationship&.position %>
          <div>
            <i class="fas fa-briefcase fa-fw"></i>
            <%= relationship_short_position_or_none \
                  @account.person.current_relationship %>
          </div>
        <% end %>

        <% if @account.person&.current_relationship&.regional_office %>
          <div>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            <%= regional_office_link_or_none \
                  @account.person.current_relationship.regional_office %>
          </div>
        <% end %>
      </div>

      <hr/>

      <% if @account.biography %>
        <p><%= @account.biography %></p>
      <% end %>
    </div>

    <div class="col-md-9">
    </div>
  </div>
</div>
