<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @account.avatar.attached? %>
        <%= image_tag @account.avatar, class: 'img-thumbnail mb-4' %>
      <% end %>

      <% if @account.public_name.present? %>
        <h1><%= @account.public_name %></h1>
      <% end %>

      <p class="h3 text-muted"><%= @account.nickname %></p>

      <% if @account.person&.current_regional_office %>
        <div class="mb-2">
          <i class="fas fa-map-marker-alt"></i>
          <%= link_to(
            @account.person.current_regional_office.federal_subject
              .display_name,
            @account.person.current_regional_office.federal_subject,
          ) %>
        </div>
      <% end %>

      <hr/>

      <% if @account.biography %>
        <p><%= @account.biography %></p>
      <% end %>
    </div>

    <div class="col-md-9">
    </div>
  </div>
</div>
