<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @account.avatar.attached? %>
        <%= image_tag @account.avatar, class: 'img-thumbnail mb-4' %>
      <% end %>

      <% if @account.public_name.present? %>
        <h1><%= @account.public_name %></h1>
      <% end %>

      <p class="h3 text-muted"><%= @account.nickname %></p>

      <div class="mb-2">
        <i class="fas fa-user-tag"></i>

        <% if @account.person&.party_member? %>
          <%= translate :member, scope: %i[helpers person_status] %>
        <% elsif @account.person&.party_supporter? %>
          <%= translate :supporter, scope: %i[helpers person_status] %>
        <% elsif @account.person&.excluded_from_party? %>
          <%= translate :excluded, scope: %i[helpers person_status] %>
        <% else %>
          <%= translate :not_in_party, scope: %i[helpers person_status] %>
        <% end %>
      </div>

      <% if @account.person&.regional_office %>
        <div class="mb-2">
          <i class="fas fa-map-marker-alt"></i>
          <%= @account.person.regional_office.country_state.name %>
        </div>
      <% end %>

      <% if @account.biography %>
        <p><%= @account.biography %></p>
      <% end %>
    </div>

    <div class="col-md-9">
    </div>
  </div>
</div>
