<p><%= translate '.greeting', recipient: @resource.email %></p>

<p><%= translate '.instruction' %></p>

<p>
  <%= link_to translate('.action'),
              edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= translate '.instruction_2' %></p>
<p><%= translate '.instruction_3' %></p>
